#<%=my_params["myid"]%>.xmas {
animation-name: slideIn<%=my_params["myid"]%>;
animation-duration:10s;
animation-iteration-count:infinite;
position:absolute;
z-index:10000;
top:0px;
left:<%=my_params["left"] or 0%>vw;
}


@keyframes slideIn<%=my_params["myid"]%>{
<%=render_collection(path="./welcome", view="_css.css", mycollection=my_params["lists"], erreur="pas d'articles", as_="css")%>

}
